<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12">
    <div class="jumbotron">
      <h1> Select a class </h1>
    </div>
  </div>
</div>

<% @courses.in_groups_of(3, false) do |group| %>  <!--Takes groups of three courses -->
<div class="row">
  <% group.each do |course| %>
<div class="col-xs-12 col-sm-6 col-lg-4">
  <%= link_to( { action: :edit, id: course.id }) do %>
  <div class="box">
      <div class="icon">
        <i class="fa fa-users fa-5x"></i>
        <div class="info">
          <h3 class="title"><%= course.name %> </h3>
          <p>
            <%= course.description %>
          </p>
          <div class="more">
            <a href="#" title="Title Link"><i class="fa fa-plus"></i> Details
            </a>
         </div>
        </div>
      </div>
      <div class="space"></div>
    </div>
 <% end %>
  </div>
  <% end %>
</div>
<% end %>