// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "font-awesome";


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #730E15;
  color: #2E2F30;
  a {
    color: $gray;
    &:hover {
      color: #666666;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


.cssheader{
  padding: 0px;
  margin: 0px;
  background: #B00100;
  height: 50px;
  top: 0px;
  margin-bottom: 15px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  ul {
      list-style: none;
    li {
      float: left;
      margin-right: 8px;
    }
  }
}