<footer class="footer">
  <small>
    <a href="https://github.com/ajn123/hokie_links">Source Code</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to 'Updates', updates_path %></li>
    </ul>
  </nav>
</footer>