
<div class="container">
  <div  id='cssmenu'>
    <ul>
      <li ><a href='#'><span>Home</span></a></li>
      <li><a href='#'><span>Products</span></a></li>
      <li><a href='#'><span>Company</span></a></li>
      <li class='last'>
        <%= link_to 'Classes', courses_path %>
      </li>
    </ul>

  </div>
</div>